@font-face {
    font-family: 'thempo';
    src: url('thempo.ttf');
}

@font-face {
    font-family: 'immortal';
    src: url('immortal.ttf');
}


html, body {
    height: 100%;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/fantasy.jpg");
    font: 1.1em normal 'thempo', arial, sans-serif;
    font-family: 'immortal';
}

h1{
    color: #235667;
}

h1{
    text-align: center;
}

li{
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

#wrapper{
    width:30%;
    min-width: 300px;
    margin: 0 auto;
    
}

.white-bg{
    padding: 1rem;
    background: white;
    border : #333 2px solid;
    border-radius: 15px;
}

.inner {
    border-width: 1px;
    border-radius: 3px;
}

#categories, #clear{
    text-align: center;
}

button {
    height: 55px;
    font: 1.2em normal arial, sans-serif;
    font-family: 'immortal';
    border-radius: 15px;
    background-color: #235667;
    color: white;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
}

#categories button{
    width: 100px;
}

button.add {
    height: 35px;
    width: 35px;
    text-align: center;
}

.rules-link {
    color: white;
    text-align: center;
    margin: 0 10px;
}

.rules-link:hover {
    color: #CCC;
}

.beige{
    background: #E3D6AA;   
}

.danger{
    background-color: darkred;
}

.action{
    background-color: #FF8E8E;
}

.group{
    background-color: #A8E4FF;
}

.individual{
    background-color: #FFFF84;
}

input, label, select, textarea, #save {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font: 1.1em normal helvetica, sans-serif;
}

label {
    color: #235667;
}

label:not(:first-of-type)  {
    margin-top: 10px;
}

#id-view {
    display: none;
}

#id-view.show {
    display: flex;
    align-content: space-between;
}

#id-view #card-id {
    flex: 1;
}

#close-edit:hover {
    cursor: pointer;
    color: gray;
}

input[type="text"], select, textarea {
    border-radius: 3px;
    border: solid 1px gray;
    padding: 2px 5px;
}

input[type="text"]:active, select:active, textarea:active {
    border-color:  #235667
}

ul {
    padding: 0 1rem;
}

option.placeholder {
    color: gray;
}

.get-card div {
    display: flex;
}

.get-card button {
    font: 1.1em normal helvetica, sans-serif;
    padding: 0.5rem 1rem;
}

.get-card input {
    margin-right: 1rem;
    border-radius: 3px;
}